*.bsp filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.tf filter=lfs diff=lfs merge=lfs -text
*.bpc filter=lfs diff=lfs merge=lfs -text
*.tls filter=lfs diff=lfs merge=lfs -text
*.pc filter=lfs diff=lfs merge=lfs -text
*.tpc filter=lfs diff=lfs merge=lfs -text
