# Copyright © Loft Orbital Solutions Inc.

# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/
*.code-workspace

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*
packages/
coverage/

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/
__pycache__
.ipynb_checkpoints
.open-space-toolkit
