################################################################################################################################################################

# @project        Library/Astrodynamics
# @file           requirements.txt
# @author         Lucas Brémond <lucas@loftorbital.com>
# @license        Apache License 2.0

################################################################################################################################################################

LibraryPhysicsPy>=0.2.9

################################################################################################################################################################
