# Apache License 2.0

name: Build and Test

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: main-${{ github.ref }}
  cancel-in-progress: true

env:
  PROJECT_NAME: open-space-toolkit-astrodynamics

jobs:
  prepare-environment:
    name: Prepare Environment Variables
    runs-on: ubuntu-latest
    outputs:
      project_name: ${{ steps.project-name.outputs.value }}
      project_version: ${{ steps.project-version.outputs.value }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - id: project-name
        name: Get Project Name
        run: |
          echo "Project name: ${{ env.PROJECT_NAME }}"
          echo "value=${{ env.PROJECT_NAME }}" >> $GITHUB_OUTPUT
      - id: project-version
        name: Get Project Version
        run: |
          project_version=$(git describe --tags --always)
          echo "Project version: ${project_version}"
          echo "value=${project_version}" >> $GITHUB_OUTPUT

  build-development-image:
    name: Build Development Image
    needs:
      - prepare-environment
    uses: open-space-collective/open-space-toolkit/.github/workflows/build-image.yml@main
    with:
      project_name: ${{ needs.prepare-environment.outputs.project_name }}
      project_version: ${{ needs.prepare-environment.outputs.project_version }}
    secrets: inherit

  test:
    name: Test
    needs:
      - prepare-environment
      - build-development-image
    uses: open-space-collective/open-space-toolkit/.github/workflows/test.yml@main
    with:
      project_name: ${{ needs.prepare-environment.outputs.project_name }}
      project_version: ${{ needs.prepare-environment.outputs.project_version }}
    secrets: inherit

  benchmark-and-validate:
    name: Benchmark and Validate
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs:
      - prepare-environment
      - build-development-image
      - test
    uses: open-space-collective/open-space-toolkit/.github/workflows/benchmark-validation.yml@main
    with:
      project_name: ${{ needs.prepare-environment.outputs.project_name }}
      project_version: ${{ needs.prepare-environment.outputs.project_version }}
    secrets: inherit

  package:
    name: Package
    needs:
      - prepare-environment
      - build-development-image
      - test
    uses: open-space-collective/open-space-toolkit/.github/workflows/build-packages.yml@main
    with:
      project_name: ${{ needs.prepare-environment.outputs.project_name }}
      project_version: ${{ needs.prepare-environment.outputs.project_version }}
    secrets: inherit
